
/* Стили анимации пульсации кругов */
@keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        transform: scale(0.9);
        opacity: 0;
    }
}
/* Стили кроссбраузерной анимации пульсации кругов */
@-webkit-keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        transform: scale(0.9);
        opacity: 0;
    }
}

/* Стили анимации блика для кнопок */
@keyframes sheens {
    0%,79% {
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: rotateZ(60deg) translate(-5em,7.5em);
        transform: rotateZ(60deg) translate(-5em,7.5em)
    }

    80% {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: rotateZ(60deg) translate(-5em,7.5em);
        transform: rotateZ(60deg) translate(-5em,7.5em)
    }

    95% {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: rotateZ(60deg) translate(1em,-11em);
        transform: rotateZ(60deg) translate(1em,-11em)
    }

    to {
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: rotateZ(60deg) translate(1em,-9em);
        transform: rotateZ(60deg) translate(1em,-9em)
    }
}
/* Стили кроссбраузерной анимации блика для кнопок */
@-webkit-keyframes sheens {
    0%,79% {
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: rotateZ(60deg) translate(-5em,7.5em);
        transform: rotateZ(60deg) translate(-5em,7.5em)
    }

    80% {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: rotateZ(60deg) translate(-5em,7.5em);
        transform: rotateZ(60deg) translate(-5em,7.5em)
    }

    95% {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: rotateZ(60deg) translate(1em,-11em);
        transform: rotateZ(60deg) translate(1em,-11em)
    }

    to {
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: rotateZ(60deg) translate(1em,-9em);
        transform: rotateZ(60deg) translate(1em,-9em)
    }
}


/* Стили анимации полоски в квизе */
@keyframes moveIt{
    from{
        background-position: 0 center
    }
        
    to{
        background-position: 48px center
    }
}

/* Стили кроссбраузерной анимации полоски в квизе */
@-webkit-keyframes moveIt{
    from{
        background-position: 0 center
    }
        
    to{
        background-position: 48px center
    }
}
    