.container {
    max-width: 1148px;
    width: 100%;
    padding: 0 24px;
    margin: 0 auto;

    @media (max-width: $mobile-m) {
        padding: 0 16px;
    }
}

.section {
    padding: 60px 0;

    @media (max-width: $tablet) {
        padding: 40px 0;
    }

    @media (max-width: $mobile-m) {
        padding: 30px 0;
    }
}