// USER VARIABLES SECTION

$accent: #e49f09; // Accent Color
$fontsize: 16px; // Body Font Size

$textcolor: #232323; // Text Color
$system: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family
// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 18px;
$default_font: 'Gotham';
$titles_font: 'Gilroy';
$bold: 'GothamBold';

$gutter: $grid-gutter-width;





// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl){
    @font-face{
        font-family: $fname;
        font-style: $fstyle;
        font-weight: $fweight;
        // font-display: swap // Uncomment to initially display system fonts
        src: local($fname), url($furl) format('woff2');
    }
}

@include font('Gilroy', normal, 300, '../fonts/Gilroy/Gilroy-Black.ttf');
@include font('Gotham', normal, 300, '../fonts/Gotham_Pro/GOTHAPROREG.OTF');
@include font('GothamBold', normal, 300, '../fonts/Gotham_Pro/GOTHAPROBOL.OTF');




// GENERAL DOCUMENT STYLES

*{
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
}
    

body{
    margin: 0;
    padding: 0;
    height: 100%;
    color: #232323;
}
    

input, textarea{
    border: none;
}

a{
    text-decoration: none;
}

h1,h2,h3,h4{
    font-family: $titles_font;
    margin: 0;
}
    
h2{
    font-size: 20px;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
}
    
img{
    max-width: 100%;
}
    
section{
    padding-top: 50px;
    padding-bottom: 50px;
}
    
input, textarea, button{
    outline: none;
    border: none;
    &:focus:required:invalid{
        border-color: red
    } 
    &:required:valid{
        border-color: green;
    }
}
    

body{
    font-family: $default_font;
    font-size: $fontsize;
    position: relative;
    color: $textcolor;
    &.stop{
        overflow: hidden;
    }
}
    

h1{
    font-size: 22px;
    margin-bottom: 50px;
    text-transform: uppercase;
}
    

table{
    margin-bottom: 6.25VW;
    border-spacing: 0;
    width: 100%;
}
    
td{
    border-bottom: 0.3125VW solid $accent;
    padding: 4.6875VW;
    font-size: 4.375VW;
    text-align: center;
    &:first-child{
        text-align: left
    }   
}
    

tr:first-child{
    td{
        font-size: 5VW;
        font-family: $titles_font;
    }
}
         
.btn{
    text-align: center;
    display: inline-block;
    align-content: center;
    justify-content: center;
    font-size: 16px;
    color: #020202;
    padding: 25px;
    transition: all .2s;
    font-family: $bold;
    border-radius: 0px;
    text-transform: uppercase;
    img{
        margin-left: 9px;
    }
    span{
        position: relative;
        top: 12px;
    }
}
    


.btn--accent{
    overflow: hidden;
    position: relative;
    &:after{
        content: "";
        top: -50%;
        right: -50%;
        right: -50%;
        bottom: -50%;
        left: -50%;
        background: linear-gradient(to bottom,rgba(229,172,142,0),rgba(255,255,255,.7) 50%,rgba(229,172,142,0));
        transform: rotateZ(60deg) translate(-5em,7.5em);
        opacity: 0;
        position: absolute;
        z-index: 1;
        filter: alpha(opacity=0);
        animation: sheens 3s infinite;
    }
}
    
.btn--full{
    border: 2px solid transparent;
    background: $accent;
}


// Для ленивой загрузки изображений
img[data-src]{
    opacity: 0;
    transition: all 0.2s;
}
    


.blockquote{
    background-color: #EFEFEF;
    border-left: 4px solid $accent;
    width: 100%;
    display: block;
    margin-left: 0;
    padding: 20px 16px;
    font-size: 16px;
    color: $textcolor;
    font-family: 'Roboto-Bold';
    p{
        margin: 0;
    }
}
    

.btn:hover{
    cursor: pointer;
}
    
.swiper{
    margin-bottom: 25px;
    position: relative;
}
    
.swiper-container{
    width: 100%;
}
    
.swiper-container{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
  
.swiper-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}
  
.swiper-slide{
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    text-align: center;
    font-size: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.swiper-pagination{
    margin-top: 16px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -35px;
    width: 100%;
    height: 20px;
}
   
.swiper-pagination-bullet{
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #d9d9d9;
    margin-right: 2.1875VW;
    transition: all 0.2s;
    &:last-child{
        margin-right: 0;
    }
    &-active{
        background-color: $accent;
    }
}
    


.swiper-btn{
    height: 30px;
    width: 30px;
    justify-self: center;
    aling-items: center;
    position: absolute;
    top: 50%;
    left: 0px;
    z-index: 1;
    padding: 25px;
    background-color: rgba(0,0,0, 0.5);
    transform: translateY(-50%);
    &:after{
        content: "";
        display: block;
        border: 10px solid transparent;
        position: relative;
        bottom: 10px;
    }
    &-prev{
        &::after{
            border-right: 15px solid #fff;
            right: 20px;
        }
    }
        
    &-next{
        left: auto;
        right: 0px;
        &::after{
            border-left: 15px solid #fff;
            left: -7px;
        }
    }
        
}
    
.swiper-button-disabled{
    opacity: 0.4;
}
    


.callback-phone{
    right: 20px;
    bottom: 20px;
    left: auto;
    top: auto;
    position: fixed;
    color: #fff;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: rgba(212,176,66, 0.8);
    z-index: 1;
    svg{
        width: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}
    

.section-desr{
    display: block;
}
    


@media (min-width: 670px){
    .swiper{
        margin-bottom: 35px;
    }

    h1{
        font-size: 28px;
    }
        
    h2{
        font-size: 32px;
    }
        
    .btn{
        max-width: none;
        display: inline-block;
        padding: 25px;
        font-size: 16px;
        min-width: 0;
    }
        
    section{
        padding-top: 30px;
        padding-bottom: 30px;
    }
        
    .swiper-pagination{
        bottom: -45px;
    }     
}  
    

@media (min-width: 992px){
    .swiper{
        margin-bottom: 45px;
    }
    
    section{
        padding-top: 40px;
        padding-bottom: 40px;
    }
        
    .section-desr{
        font-size: 18px;
        line-height: 25px;
    }
        
    h2{
        margin-bottom: 60px;
    }
       
    .swiper-btn{
        transition: all 0.2s;
        &:hover{
            cursor: pointer;
        }
        &-prev{
            &::after{
                border-right: 15px solid $accent
            }
        }
            
        &-next{
            &::after{
                border-left: 15px solid $accent
            }
        } 
    }
        

    .swiper-pagination{
        bottom: -50px;
    }
        
    .swiper-pagination-bullet{
        width: 10px;
        height: 10px;
        &:hover{
            cursor: pointer;
        }
    }
        
    tr{
        &:first-child{
            td{
                font-size: 18px
            }  
        }
    }
        
    td{
        font-size: 16px;
    }
        
    .callback-phone{
        right: 40px;
        bottom: 40px;
        width: 70px;
        height: 70px;
        transition: all 0.2s;
        &:hover{
            background-color: rgba(212,176,66, 1);
        }
        svg{
            width: 32px;
        }
    }
        
    .btn--full{
        &:hover{
            background-color: #fbb929;
            border-color: $accent;
        }    
    }
}
    
            

@media (min-width: 1300px){
    h1{
        font-size: 40px;
    }
        
    section{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .swiper-btn{
        background-color: transparent;
        border: 1px solid $accent;

        &-prev{
            left: -60px;
            &:hover{
                background-color: $accent;
                &::after{
                    border-right: 15px solid #fff;
                }       
            }
        }
            
        &-next{
            right: -60px;
            &:hover{
                background-color: $accent;
                &::after{
                    border-left: 15px solid #fff;
                }   
            }   
        }
    }
}
    
    

   