/*
* Пример использования компонента кнопки
* <button class="btn btn_primary">Акцентная кнопка</button>
* <button class="btn btn_second btn_icon">Кнопка с иконкой вторичного цвета</button>
* <button class="btn btn_primary btn_icon btn_icon-arrow btn_icon-left">Кнопка с иконкой с левой стороны акцентного цвета</button>
*/

// Переменные цветов кнопок
:root {
    // Акцентная кнопка
    --btn-primary-default: #467EF3;
    --btn-primary-pressed: #3865C2;
    --btn-primary-disabled: #B5CBFA;

    // -Вторичная кнопка
    --btn-second-default: #D1DFFC;
    --btn-second-pressed: #BDC9E3;
    --btn-second-disabled: #99B8F8;
}
 
$btn-primary-default: var(--btn-primary-default);
$btn-primary-pressed: var(--btn-primary-pressed);
$btn-primary-disabled: var(--btn-primary-disabled);

$btn-second-default: var(--btn-second-default);
$btn-second-pressed: var(--btn-second-pressed);
$btn-second-disabled: var(--btn-second-disabled);

// Основной шаблон кнопки
.btn {
    width: 100%;
    height: 48px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 9px;
    border-radius: $radius;
    transition: $tr;
}

// Акцентная кнопка
.btn_primary {
    color: #fff;
    background: $btn-primary-default;

    &:hover {
        
        @media (min-width: $minHover) {
            box-shadow: 0px 5px 20px rgba(70, 126, 243, 0.5);
        }
    }

    &:active {
        background: $btn-primary-pressed;
    }
}

// Второстепенная кнопка
.btn_second {
    color: #467EF3;
    background: $btn-second-default;

    &:hover {
        
        @media (min-width: $minHover) {
            box-shadow: 0px 5px 20px rgba(70, 126, 243, 0.5);
        }
    }

    &:active {
        background: $btn-second-pressed;
    }
}

// Кнопка без заполнения и обводки
.btn_linear {
    padding: 5px;

    &:hover {
        
        @media (min-width: $minHover) {
            color: $btn-primary-pressed;
        }
    }

    &:active {
        color: $btn-primary-pressed;
    }
}

// Кнопка с иконкой. Иконка размещается в html после или перед текстом кнопки
$margin-icon: 12px; // Отступ иконки от текста

.btn_icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;

    & svg {
        width: 24px;
        height: 24px;
        margin-left: $margin-icon;
    }
}


// Иконка будет слева. Использовать совместно с btn_icon
.btn_icon-left {

    & svg {
        margin-left: 0;
        margin-right: $margin-icon;
    }
}

// Содержимое иконки будет размещаться по центру. Использовать только c btn_icon
.btn_center {
    justify-content: center;
}

// Hover-эффект у ссылки
.link {
    
    &:hover {
        
        @media (min-width: $minHover) {
            color: $accent-hover;
        }
    }

    &:active {
        color: $accent-active;
    }
}

// Кнопки выбора 
.choice-chips {
    width: fit-content;
    font-size: 14px;
    font-weight: 600;
    color: $main;
    padding: 12px 24px;
    background: #F8F8F8;
    border-radius: 100px;

    &:hover {
        
        @media (min-width: $minHover) {
            color: $accent;
            background: #EFF7F5;
        }
    }

    &:active {
        color: #fff;
        background: $accent;
    }

    &._active {
        color: #fff;
        background: $accent;
    }
}

.choice-chips_disabled {
    color: $second;
    background: #F8F8F8;
    pointer-events: none;
}



// Стрелка в слайдерах
.slider-arrow {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $accent;
    border-radius: 50%;

    &:hover {
        
        @media (min-width: $minHover) {
            background: $accent-hover;
        }
    }

    &:active {
        background: $accent-active;
    }

    &.swiper-button-disabled {
        background: #F8F8F8; 
        // pointer-events: none;

        & svg path {
            fill: $second;
        }
    }

    & svg {
        width: 24px;
        height: 24px;
    }
}