.container{
    width: 90%;
    margin: 0 auto;
}

@media (min-width: 992px){
    .container{
        position: relative;
    }  
}
    
@media (min-width: 1440px){
    .container{
        width: 62%;
    }
}
    