   
input, textarea{
    border: none;
}

input, textarea, button{
    outline: none;
    border: none;
    &:focus:required:invalid{
        border-color: red
    } 
    &:required:valid{
        border-color: green;
    }
}